<form [formGroup]="cadastroForm" (ngSubmit)="submitForm()">
    <label>
        Nome:
        <input type="text" formControlName="firstName">
        <span 
            class="alert"
            *ngIf="cadastroForm.get('firstName')?.errors && (cadastroForm.get('firstName')?.touched && cadastroForm.get('firstName')?.dirty)">
            Favor adicionar o nome
        </span>
    </label>

    <br>
    <br>

    <label>
        Sobrenome:
        <input type="text" formControlName="lastName">
    </label>

    <p>
        {{ cadastroForm.get('firstName')?.errors | json}}
        {{ cadastroForm.get('firstName')?.touched | json}}
        {{ cadastroForm.get('firstName')?.dirty | json}}
    </p>
    
    <button [disabled]="cadastroForm.invalid">Enviar</button>
</form>