<p>
    <strong>Olá, Fernando Augusto</strong>
    <br>
    Ag: 9999. CO: 9999-9
</p>

<p>
    Poupança: R$ <span id="poupanca-value">{{ getPoupanca }}</span>
    <br>
    <input id="input-sacar" type="text" #sacar>
    <button id="button-sacar" (click)="setSacar(sacar.value)">Sacar</button>
</p>

<p>
    Carteira: R$ <span id="carteira-value">{{ getCarteira }}</span>
    <br>
    <input id="input-depositar" type="text" #depositar>
    <button id="button-depositar" (click)="setDepositar(depositar.value)">Depositar</button>
</p>